<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All List Status Page</title>
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css"/>
</head>
<body>
    <h3 align="center">All list of elements:</h3>
    {{#EntireListElem}}
    <div>
        {{number}} number,
        {{stage}} stage,
        {{percentFalse}}% of mistakes,
        {{datePriorRep}} prior date of repeating.<br>
    </div>
    {{/EntireListElem}}
</body>
</html>