<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit An Element Page.</title>
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css"/>
</head>
<body>
    <h3 align="center">Edit an element:</h3>
    <form method="post" action="wallAftEdit">
        <table id="editPageTable" align="center">
            {{#DateForPrompt}}
            <tr>
                <td>
                    <h4>Amount of theses:</h4><input type="number" name="thesesField" class="inpEditPage"
                                                     placeholder={{amountElem}} required><br>
                </td>
                <td>
                    <h4>Previous repeat date:</h4><input type="text" name="priorDateField"
                                                         placeholder={{datePriorRep}} required><br>
                </td>
            </tr>
            <tr>
                <td>
                    {{#qualityFails}}
                    <h4>Quantity of mistakes:</h4><input type="number" name="mistakesField" class="inpEditPage"
                                                         placeholder={{qualityFails}} required><br>
                    {{/qualityFails}}
                </td>
                <td>
                    <h4>Next repeat date:</h4><input type="text" name="nextRepDateField"
                                                     placeholder={{dateNextRep}} required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Stage:</h4><input type="number" name="inpStage" class="inpEditPage"
                                          placeholder={{stage}} required>
                </td>
            </tr>
            {{/DateForPrompt}}
        </table>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button class="addNewButton">Edit</button>
    </form>
</body>
</html>