<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elements In Stages</title>
</head>
<body>
    <h3 align="center">Elements in stages:</h3>
    {{#ElemInStage}}
    <div>
        {{number}} number,
        {{stage}} stage,
        {{percentFalse}}% of mistakes,
        {{datePriorRep}} prior date of repeating.<br>
    </div>
    {{/ElemInStage}}
</body>
</html>