<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pick Element For Repeating</title>
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css"/>
</head>
<body>
<h3 align="center">List of repeating:</h3>
<div>
    {{#listRep}}
    <div>
        {{number}} number,
        {{stage}} stage,
        {{percentFalse}}% of mistakes,
        {{datePriorRep}} prior date of repeating.<br>
    </div>
    {{/listRep}}
</div>
<br><br><br>
<form method="post" action="wallAftRepeat">
    <div id="pickElemRepeatInp">
        <input class="ElemRepeatInp" type="number" name="inputNum" placeholder="number:" required><br>
        <input class="ElemRepeatInp" type="number" name="inputMistakes" placeholder="mistakes:" required>
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button class="addNewButton">Repeat</button>
</form>
</body>
</html>