<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Repeating</title>
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css"/>
</head>
<body>
    <h3 align="center">List of repeating:</h3>
    <div>
        {{#listRep}}
        <div>
            {{number}} number,
            {{stage}} stage,
            {{percentFalse}}% of mistakes,
            {{datePriorRep}} prior date of repeating.<br>
        </div>
        {{/listRep}}
    </div>
    <br><br><br>
    <form method="get" action="pickElemRepeat">
        <button class="addNewButton">Repeat</button>
    </form>
</body>
</html>