<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All List Status Page</title>
    <link href = "../css/style.css" rel = "stylesheet" type = "text/css"/>
</head>
<body>
    {{#pickedDay}}
    <h3 align="center">All list of elements for {{pickedDay}}:</h3>
    {{/pickedDay}}

    {{#DayListWithoutTail}}
    <div>
        {{number}} number,
        {{stage}} stage,
        {{percentFalse}}% of mistakes,
        {{datePriorRep}} prior date of repeating.<br>
    </div>
    {{/DayListWithoutTail}}

    <h4 align="center">With a tail:</h4>

    {{#DayListWithTail}}
    <div>
        {{number}} number,
        {{stage}} stage,
        {{percentFalse}}% of mistakes,
        {{datePriorRep}} prior date of repeating.<br>
    </div>
    {{/DayListWithTail}}
</body>
</html>